{% extends 'base.html' %}
{% load static %}


  {% block content %}
  <div class="container d-flex justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column" id="title_box">
        <p id="title_name">jahnsMichael</p>
        <p id="subtitle_name">a computer science student</p>
      </div>
    </div>
  
    <div class="container-fluid" id="desc">
      <div class="d-flex flex-column justify-content-center">
        <img
          src="{% static 'pic/identity.png' %}"
          alt="image.jpg"
          class="pic mx-auto d-block"
          id="identity"
        />
        <p id="intro">
          Hello, my name is Jahns Michael. I am a student of Faculty of Computer
          Science, Universitas Indonesia. <br />
          <br />
          I am not a very talented student, but I will never be tired to learn
          something new. <br />
          <br />
          For more information about me, just scroll down, unless you want to
          explore this website with an unique way (not available yet). <br />
          <br />Feel free to explore ~
        </p>
      </div>
    </div>
  
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-xs-12 col-md-7 d-flex align-items-stretch flex-column justify-content-md-start justify-content-xs-center"
          id="academic_goals"
        >
          <div class="row d-flex flex-row" id="academic-content">
            <img
              src="{% static 'pic/academic.png' %}"
              alt="image.jpg"
              class="pic float-md-left float-xs-none"
              id="glasses"
            />
            <p id="academic">
              SDN Pabuaran 5 (2006-2012)<br />
              SMPN 4 Depok (2012-2015)<br />
              SMAN 3 Depok (2015-2018)<br />
              <br />
              Currently studying at Faculty of Computer Science, Universitas
              Indonesia
            </p>
          </div>
          <div
            class="row d-flex flex-row justify-content-md-start justify-xs-content-end"
          >
            <img
              src="{% static 'pic/goals.png' %}"
              alt="image.jpg"
              class="pic float-md-left"
              id="goals"
            />
            <div class="d-flex flex-column justify-content-center">
              <h1 id="why">Why Computer Science?</h1>
              <p id="goals_desc">
                “Saya menyadari bahwa keberadaan teknologi informasi sangatlah
                dekat dengan kehidupan pelajar. Pelajar lebih sering
                menghabiskan waktunya dengan gawai dibandingkan dengan waktu
                belajar di kelas. Hal tersebut memotivasi saya untuk
                memfasilitasi pelajar dan sekolah dengan lingkungan e-learning
                berbasis website. “
              </p>
              <h2 id="e-learning">e-learning environtment !!</h2>
            </div>
          </div>
        </div>
        <div
          class="col-xs-12 col-md-5 flex-column justify-content-center"
          id="opinion_contact"
        >
          <img
            src="{% static 'pic/opinion.png' %}"
            alt="image.jpg"
            class="pic opinion-contact"
          />
          <p id="opinion-text">
            Click “My opinion” to read my article,
            <br />
            Click “Your opinion” to leave your opinion or write your own
            article.
            <br />
            <br />
            If both of us agree to post your article, people can read your
            article in this website. (not available yet)
          </p>
          <img
            src="{% static 'pic/contact.png' %}"
            alt="image.jpg"
            class="pic opinion-contact"
          />
          <p id="contact-info">
            081320079328 (phone and WhatsApp) <br />
            jahnsmichael (Instagram)<br />
            jzmcl_912 (Line id)
          </p>
        </div>
      </div>
    </div>
    {% endblock %}
  
  