{% extends 'base.html' %}

{% block content %} 
  <div class="container d-flex justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column" id="title_box">
        <p id="title_name">sorry</p>
        <p id="subtitle_name">this page is not available yet ::>_<::</p>
      </div>
    </div>
{% endblock %}
